body {
  margin: 0;
  padding: 0;
  background-color: #009578;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Forms {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 300px;
  text-align: center;
}

.Forms h1 {
  margin-bottom: 25px;
  color: #333;
}

.Forms form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Forms a {
  color: #009688;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  margin-top: -10px;
}

.Forms a:hover {
  text-decoration: underline;
}

.Forms p {
  margin: 0;
  font-size: 14px;
}

.Forms p+a {
  font-size: 14px;
  color: #009688;
  margin-top: -10px;
}

.auth-button {
  padding: 12px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.auth-input {
  border: 1px solid #888;
  color: #888;
  border-radius: 8px;
  font-size: 14px;
  padding: 12px;
}

.auth-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}